<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="/" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Paddy Monitoring</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"
        ><span></span
      ></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li>
          <a href="/" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-box"></i></span
            ><span class="pcoded-mtext">Dashboard</span></a
          >
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Profiles</span></a
          >
          <ul class="pcoded-submenu">
            <li class="">
              <a href="/profile/show" class="" target="_self">Profile List</a>
            </li>
            <li class="">
              <a href="/profile" class="" target="_self">Create New</a>
            </li>
            <li class="">
              <a href="/profile/modify" class="" target="_self">Delete</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/notifications" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="icon feather icon-bell"></i></span
            ><span class="pcoded-mtext">Notifications</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/analyse" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-sidebar"></i></span
            ><span class="pcoded-mtext">Analyse Plant</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->
